*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.calculadora{
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 23rem;
  height: 37rem;
  border-radius: 1.5rem;
  border:grey solid 1px;
  margin:0 auto;
  padding:1rem;
}
h1{
  font-size: 1rem;
  cursor:default;
  margin-bottom: 0.5rem;
  border:solid 1px rgb(175, 74, 7);
  border-radius:0.5rem;
  padding:0 0.3rem;
  width: 4rem;
  align-self:end;
}
p{
  text-align: center;
  font-size: 0.8rem;
  cursor:default;
}
